<div class="container">
    <div class="row">
        <div class="col-md-9">
            <nav>
                <ul class="main-menu">
                    <li ui-sref-active="active"><a ui-sref="dashboard">Dashboard</a></li>
                    <li ui-sref-active="active"><a ui-sref="unclaimedEvents">Ongeclaimde reizen</a></li>
                    <li ui-sref-active="active"><a ui-sref="claimedEvents">Mijn reizen</a></li>
                    <li ui-sref-active="active"><a ui-sref="drivers">Chauffeurs</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3">
            <div class="user-dropdown fade" ng-click="isUserDropdownOpen = !isUserDropdownOpen">
                <span class="username">overbeekjelle@gmail.com</span>
                <img class="dropdown-indicator" ng-src="/assets/img/chevron-down.png" ng-srcset="/assets/img/chevron-down.png 1x, /assets/img/chevron-down@2x.png 2x">

                <ul class="dropdown" ng-init="isUserDropdownOpen = false" ng-show="isUserDropdownOpen">
                    <li><a ui-sref="settings">Instellingen</a></li>
                    <li><a ui-sref="logout">Uitloggen</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>