$blue: #21bbe5;
$blue-darker: #30b5d9;
$blue-dark: #2e96b2;

$dark-gray: #4c4c4c;
$cool-gray: #8e9ba5;

$pale: #fff5d1;
$sandstone: #ccbb80;
$brown: #9C7E5E;

$green: #5cb579;

$red: #ff6f6f;

$blue-gray: #86a1b2;
$warm-gray: #707070;
$grayish: #b6b6b6;

$main-border: #E6E6E6;
$light-border: #EFEFEF;
$bg-color: #F1F1F1;