@mixin boxShadow($color: rgba(0,0,0,0.05)) {
	-webkit-box-shadow:  0 1px 4px $color;
	-moz-box-shadow:  0 1px 4px $color;
	box-shadow:  0 1px 4px $color;
}

@mixin transition($time: 0.3s) {
	-webkit-transition: all ease-in-out $time;
	-moz-transition: all ease-in-out $time;
	-ms-transition: all ease-in-out $time;
	-o-transition: all ease-in-out $time;
	transition: all ease-in-out $time;
}