@import "reset";

$enable-flex:               true;
$enable-grid-classes:       true;

$screen-xs:                 1px;
$screen-sm:                 2px;
$screen-md:                 3px;
$screen-lg:                 4px;

@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss';


@import "library/colors";
@import "library/fonts";
@import "library/mixins";
@import "library/animations";
@import "library/z-indices";

* {
	box-sizing: border-box;
}

body {
	font-family: $circularBook;
	font-size: 14px;
	margin-top: 110px;
	text-align: left;

	color: $dark-gray;
	background-color: $bg-color;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1 {
	font-family: $circularMedium;
	font-size: 24px;
	margin: 0 0 15px 0;
	color: $dark-gray;
}

h2 {
	font-family: $circularBook;
	font-size: 20px;
	color: $dark-gray;

	margin-bottom: 10px;
}

h3 {
	font-family: $circularMedium;
	font-size: 16px;
	color: $warm-gray;
}

h4 {
	font-family: $circularMedium;
	font-size: 18px;
	color: $cool-gray;
}

h5 {
	font-family: $circularMedium;
	font-size: 16px;
	color: $warm-gray;
}

h6 {
	font-family: $circularBold;
	font-size: 14px;
	color: $cool-gray;
	text-transform: uppercase;
}

p {
	font-family: $circularBook;
	font-size: 14px;
	line-height: 1.4;
	color: $warm-gray;
	margin-bottom: 10px;

	&.light {
		color: $cool-gray;
	}
}

a {

	color: $blue-dark;
	text-decoration: none;

	@include transition(0.1s);

	&:hover {
		color: darken($blue-dark, 5%);
	}

	&:active {
		color: darken($blue-dark, 10%);
	}

	&.danger {
		color: $red;

		&:hover {
			color: darken($red, 5%);
		}

		&:active {
			color: darken($red, 10%);
		}
	}
}

hr {
	border: 0;
	margin: 25px 0;
	background-color: #EBEBEB;
	height: 1px;

	&.blank {
		background-color: transparent;
	}
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-60 {
	margin-top: 60px;
}

.margin-top-70 {
	margin-top: 70px;
}


.no-padding {
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.vertical-align-top {
	vertical-align: top;
}

.vertical-align-middle {
	vertical-align: middle;
}

.vertical-align-bottom {
	vertical-align: bottom;
}

.full-width {
	width: 100%;
}

@import "components/buttons";
@import "components/form";
@import "components/modal";
@import "components/lists";
@import "components/image-styles";
@import "components/text-styles";
@import "components/alerts";
@import "components/tables";
@import "components/pagination";
@import "components/preloader";

@import "layout/header";
@import "layout/footer";

@import "views/dashboard";

.hidden {
	display: none;
}

.disabled {
	opacity: 0.5;
	cursor: default;
}

.invisible {
	opacity: 0;
}

.inline-block {
	display: inline-block;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}