<div class="modal-bg" ng-show="event">
    <div class="container">
        <div class="row">
            <div class="col-md-push-3 col-md-6">

                <div class="modal" ng-show="event">

                    <form name="claimForm" ng-submit="submitClaim()">

                        <div class="row">
                            <div class="col-md-11">
                                <h1>{{event.name}}</h1>
                                <h2 class="light">{{event.start_time*1000 | date:'dd-MM-yyyy HH:mm'}} tot
                                    {{event.end_time*1000 | date:'dd-MM-yyyy HH:mm'}}</h2>
                            </div>
                            <div class="col-md-1 align-right">
                                <img class="close" src="/assets/img/close.png"
                                     srcset="/assets/img/close.png 1x, /assets/img/close@2x.png 2x" ng-click="close()">
                            </div>
                        </div>

                        <div class="row margin-top-20">
                            <div class="col-md-7">
                                <h3>Aantal geclaimde passagiers</h3>
                                <p>Dit is het aantal passagiers dat u moet gaan vervoeren.</p>
                                <div class="alert alert-warning">
                                    Plaats groepen bij elkaar in de bus.
                                </div>
                            </div>
                            <div class="col-md-5 align-center">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="passengers">
                                        <span class="selected-passengers" ng-show="claimObj.selectedPassengersTemp == 0">{{claimObj.selectedPassengers}}</span>
                                            <span class="selected-passengers" ng-show="claimObj.selectedPassengersTemp">{{claimObj.selectedPassengersTemp}}</span>
                                            <span class="total-passengers">/ {{event.passengers}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="clusters">
                                            <span class="small-uppercase-title">Selecteer groepen</span>
                                            <ul class="cluster-selection align-left">
                                                <li class="cluster" ng-repeat="cluster in event.clusters"
                                                    ng-mouseenter="claimEnter(cluster)"
                                                    ng-mouseleave="claimLeave(cluster)"
                                                    ng-click="claim(cluster)"
                                                    ng-class="{'claimed': cluster.claimed, 'claiming': cluster.claiming, 'claimSubmitted': cluster.claimSubmitted}">
                                                    {{cluster.quantity}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-7">
                                <h3>Bedrag ({{event.unitPrice | currency}}/km per reiziger)</h3>
                                <p>Dit is het bedrag dat de dag na de reis naar het ingestelde rekeningnummer
                                    overgemaakt
                                    zal worden.</p>
                            </div>
                            <div class="col-md-5">
                                <div ng-show="claimObj.selectedPassengersTemp == 0">
                                    <span class="price">{{claimObj.selectedPassengers * event.unitPrice * event.distance | currency}}</span>
                                    <span class="calculation">{{claimObj.selectedPassengers}} x{{event.unitPrice | currency:""}} x {{event.distance | distance}}</span>
                                </div>
                                <div ng-show="claimObj.selectedPassengersTemp">
                                    <span class="price">{{claimObj.selectedPassengersTemp * event.unitPrice * event.distance | currency}}</span>
                                    <span class="calculation">{{claimObj.selectedPassengersTemp}} x{{event.unitPrice | currency:""}} x {{event.distance | distance}}</span>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-7">
                                <h3>Chauffeur</h3>
                                <p>Alleen toegewezen chauffeur kan de tickets scannen. De reizigers kunnen hun chauffeur
                                    ook
                                    inzien. U kunt de chauffeur altijd nog veranderen.</p>
                            </div>
                            <div class="col-md-5 align-center">
                                <select name="driver"
                                        ng-model="claimObj.selectedDriver"
                                        ng-options="driver.name for driver in drivers" required>
                                    <option value="">- Kies chauffeur -</option>
                                </select>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-5 geo-meta">
                                <span class="light">Totaal afstand</span>
                                <img src="/assets/img/distance.png"
                                     srcset="/assets/img/distance.png 1x, /assets/img/distance@2x.png 2x">
                                <span class="value">{{event.distance | distance}}</span>

                                <span class="light">Vertrekpunt</span>
                                <img src="/assets/img/departure-pin.png"
                                     srcset="/assets/img/departure-pin.png 1x, /assets/img/departure-pin@2x.png 2x">
                                <span class="value">{{event.departure_city}}, {{event.departure_place}}</span>

                                <span class="light">Bestemming</span>
                                <img src="/assets/img/destination-pin.png"
                                     srcset="/assets/img/destination-pin.png 1x, /assets/img/destination-pin@2x.png 2x">
                                <span class="value">{{event.destination_city}}, {{event.destination_place}}</span>
                            </div>
                            <div class="col-md-7 align-right">
                                <img class="soft-borders" ng-src="{{staticMap}}"
                                     ng-srcset="{{staticMap}} 1x, {{staticMap2x}} 2x">
                            </div>
                        </div>

                        <div class="row margin-top-25">
                            <div class="col-md-12 align-right">
                                <button class="btn" ng-click="close()">Annuleren</button>
                                <input type="submit" class="btn btn-primary" value="Claimen" ng-disabled="!claimObj.selectedPassengers || !claimObj.selectedDriver">
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>