@mixin alert($color, $bg-color: lighten($color, 25%), $border-color: lighten($color, 10%)) {
	color: $color;
	border: 1px solid $border-color;
	background-color: $bg-color;
}

.alert {
	border-radius: 3px;
	font-family: $circularBook;
	line-height: 20px;
	padding: 12px 15px;
	margin: 5px 0;

	&.alert-danger {
		@include alert($red);
	}

	&.alert-warning {
		@include alert($brown, $pale, $sandstone);
	}

	&.alert-info {
		@include alert(#24697C, #BEE6F0, $blue-dark);
	}

	&.alert-success {
		@include alert(#3C8C56, #D8F7E2, $green);
	}
}
