.btn {
	display: inline-block;
	border-radius: 2px;
	background-color: transparent;
	border: 0;
	color: $blue-gray;

	font-family: $circularBlack;
	text-transform: uppercase;
	font-size: 13px;
	height: 40px;
	line-height: 38px;
	padding: 0 25px;
	cursor: pointer;

	@include transition(0.1s);

	&:hover {
		background-color: darken(#fff, 2%);
	}

	&:active {
		outline: 0;
		color: lighten($blue-gray, 8%);
	}

	&:focus {
		outline: 0;
		color: lighten($blue-gray, 8%);
	}

	&:disabled, &.disabled, &.disabled:hover, &.disabled:active, &.disabled:focus {
		opacity: 0.5;
		cursor: default;
	}
}

.btn-primary {
	background-image: linear-gradient(-180deg, #21BBE5 0%, #30B5D9 100%);
	border: 1px solid #2E96B2;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12);
	color: #ffffff;

	&:hover {
		background-image: linear-gradient(-180deg, #23B9E1 0%, #2DAED1 100%);
		box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
	}

	&:active, &:focus {
		background-image: linear-gradient(-180deg, #23B9E1 0%, #2DAED1 100%);
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
		color: #ffffff;
	}

}

.btn-secondary {
	background-image: linear-gradient(-180deg, #2E96B2 0%, #329AB6 100%);
	border: 1px solid #588490;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12);

	&:hover {

	}

	&:active {

	}
}

.btn-danger {
	background: $red;
	border: 1px solid darken($red, 7%);

	&:hover {
		background: darken($red, 3%);
	}

	&:active {
		background: darken($red, 6%);
	}
}