label {
	display: block;
	color: $warm-gray;
	padding: 5px 0;
}

input {
	@include transition(0.1s);

	&[type="text"],
	&[type="password"],
	&[type="number"],
	&[type="email"],
	&[type="url"],
	&[type="tel"],
	&[type="search"] {
		background: #FFFFFF;
		border: 1px solid #E0E0E0;
		box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.14);
		border-radius: 3px;
		padding: 5px 8px;
		height: 35px;
		width: 100%;
		margin-bottom: 10px;

		&:active, &:focus {
			outline: none;
			border: 1px solid $blue;
		}
	}
}

textarea {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.14);
	border-radius: 3px;
	padding: 8px 8px;
	width: 100%;
	resize: none;
	margin-bottom: 10px;

	@include transition(0.1s);

	&:active, &:focus {
		outline: none;
		border: 1px solid $blue;
	}
}

select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;

	border: 1px solid #DBDBDB;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12);
	border-radius: 3px;
	height: 45px;
	line-height: 43px;
	cursor: pointer;
	padding: 0 25px 0 15px;

	font-family: $circularMedium;
	color: $warm-gray;

	background-color: #FFFFFF;
	background-image: url('/assets/img/dropdown-indicator@2x.png');
	background-size: 18px 3px;
	background-position: center right;
	background-repeat: no-repeat;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;

	@include transition();

	.avatar {
		vertical-align: middle;
		margin-right: 5px;
	}

	&:hover {
		box-shadow: 0 1px 6px 0 rgba(0,0,0,0.18);
		background-color: #FBFBFB;
	}

	&:active, &:focus {
		outline: 0;
	}

	option {
		padding: 0 15px;
	}
}

input[type="search"] {
	background-image: url('/assets/img/search@2x.png');
	background-size: 23px 14px;
	background-position: center left;
	background-repeat: no-repeat;
	padding: 0 0 0 30px;
	height: 35px;

	&:focus {
		background-image: url('/assets/img/searchFocus@2x.png');
	}
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
textarea,
select {

	&.ng-dirty.ng-invalid {
		border: 1px solid $red;
	}

	&.ng-dirty.ng-valid {
		border: 1px solid $green;
	}
}