ul.dropdown {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	background-color: white;

	@include boxShadow(rgba(0,0,0,0.1));

	li {
		text-align: left;

		@include transition(0.1s);

		a {
			display: block;
			width: 100%;
			padding: 15px 20px;

			&:hover {
				background-color: lighten($bg-color, 3%);
			}
		}

		&:first-child {
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}

		&:last-child {
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

}