.modal-bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	overflow: auto;
}

.modal {
	background-color: #fff;
	padding: 30px;
	border-radius: 3px;
	margin-bottom: 60px;
	margin-top: 100px;

	p {
		color: $cool-gray;
		margin-top: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.passengers {
		font-family: $circularMedium;
		font-size: 27px;

		.total-passengers {
			color: $grayish;
		}
	}

	.clusters {
		margin-top: 15px;

		.cluster-selection {
			width: 160px;
			margin: 5px auto 0 auto;

			.cluster {
				cursor: pointer;
				display: inline-block;
				background-color: $cool-gray;
				color: #fff;

				width: 32px;
				height: 23px;

				line-height: 20px;

				font-family: $circularBold;
				font-size: 15px;
				text-align: center;

				border-radius: 3px;

				border: 1px solid #fff;


				&.claimed {
					background-color: $blue-dark;
				}

				&.claiming {
					background-color: $blue;
				}

				&.claimSubmitted {
					background-color: $green;
					cursor: default;
				}
			}
		}
	}

	.price {
		font-family: $circularMedium;
		display: block;
		text-align: center;
		font-size: 27px;
		color: $green;
		margin-top: 18px;
		margin-bottom: 3px;
	}

	.calculation {
		font-family: $circularMedium;
		display: block;
		text-align: center;
		color: #C0C0C0;
	}

	select {
		margin-top: 30px;
		max-width: 160px;
	}

	.close {
		cursor: pointer;
	}


	.geo-meta {
		.light {
			display: block;
			margin-top: 15px;
			margin-bottom: 4px;
		}

		img {
			vertical-align: middle;
			margin-right: 4px;
		}

		.value {
			vertical-align: top;
			line-height: 20px;
			font-size: 15px;
		}
	}
}