.pagination {
	display: table;
	text-transform: uppercase;
	font-family: $circularBold;
	font-size: 12px;
	width: 100%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;

	ul {
		display: table-row;

		li {
			display: table-cell;
			height: 18px;
			line-height: 18px;

			background-color: transparent;
			border-radius: 50%;

			&.page-number {
				width: 18px;


				&.active {
					background-color: $blue;
					border-radius: 50%;

					a {
						color: #fff;
					}
				}
			}
		}
	}
}