.loading {
	width: 100%;
}

.preloader-wrapper {
	width: 50px;
	height: 50px;
	margin: 80px auto;
}

// From: http://www.cssportal.com/css3-preloaders/, edited by Jelle Overbeek
.preloader {
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0;
	border-radius: 100%;
	border: 4px solid;
	border-top-color: $blue;
	border-bottom-color: #CBDADE;
	border-left-color: $blue;
	border-right-color: #CBDADE;
	-webkit-animation: preloader 0.8s linear infinite;
	animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes preloader {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}