table {
	margin-top: 10px;
	width: 100%;

	th {
		color: $blue-gray;
		padding-right: 25px;

		img {
			vertical-align: middle;
		}
	}

	td {
		color: $dark-gray
	}

	.price {
		color: $green;
	}

	&.th-vertical {

		th, td {
			padding: 15px 0;
			border-bottom: 1px solid $light-border;
		}

		th {
			color: $warm-gray;
			padding-right: 15px;
		}

		td {
			color: $cool-gray;
		}

		tr:last-child  {
			th, td {
				border: 0;
			}
		}

	}
}


.drivers-table {
	border-collapse:separate;
	border-spacing: 0 15px;

	th {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
	}

	td {
		background-color: #fff;
		border-top: 1px solid $main-border;
		border-bottom: 1px solid $main-border;

		padding: 15px 25px 15px 0;

		.avatar {
			margin-right: 15px;
		}

		input {
			width: auto;
			margin-bottom: 0;
		}

		*{
			vertical-align: middle;
		}

		&:first-child {
			border-left: 1px solid $main-border;
			padding-left: 15px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&:last-child {
			border-right: 1px solid $main-border;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
}

.income-table {
	border-collapse:separate;
	border-spacing: 0 15px;

	th {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
	}

	td {

		border-top: 1px solid $main-border;
		border-bottom: 1px solid $main-border;

		padding: 15px 25px 15px 0;

		&:first-child {
			border-left: 1px solid $main-border;
			padding-left: 15px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&:last-child {
			border-right: 1px solid $main-border;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	.date {
		width: 121px;
	}

	.price {
		width: 115px;
	}

	.distance {
		width: 90px;
	}
}

.events-table {
	border-collapse:separate;
	border-spacing: 0 15px;

	th {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
	}

	td {

		background-color: #fff;
		border-top: 1px solid $main-border;
		border-bottom: 1px solid $main-border;

		padding: 22px 25px 22px 0;

		font-size: 16px;

		@include transition(0.1s);

		&:first-child {
			border-left: 1px solid $main-border;
			padding-left: 20px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&:last-child {
			border-right: 1px solid $main-border;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	tr {

		&.event {
			cursor: pointer;

			&.claimed {
				td:first-child {
					border-left: 2px solid $green;
				}
			}

			&.history {
				opacity: 0.7;
			}
		}

		&:hover {
			td {
				border-color: $blue;
			}
		}
	}
}