header {
	height: 60px;
	width: 100%;
	background-color: #fff;

	position: absolute;
	top: 0;

	nav {
		 ul.main-menu {
			padding-left: 0;

			li {
				list-style: none;
				display: inline-block;
				height: 60px;

				margin-right: 20px;

				border-bottom: 0 solid transparent;

				@include transition(0.1s);

				a {
					display: inline-block;
					height: 60px;
					line-height: 60px;

					color: $dark-gray;
					font-family: $circularMedium;

					&:hover {
						color: darken($blue-dark, 5%);
					}

					&:active {
						color: darken($blue-dark, 10%);
					}
				}

				&.active {
					border-bottom: 3px solid $blue;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.user-dropdown {
		position: relative;
		text-align: right;
		padding: 0 15px;
		display: inline-block;
		cursor: pointer;

		float: right;

		@include transition(0.2s);

		.username {
			line-height: 60px;
			font-family: $circularMedium;
		}

		&:hover {
			background-color: lighten($bg-color, 3%);
		}

		.dropdown-indicator {
			vertical-align: middle;
			margin-left: 5px;
		}
	}
}