/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 2px) {
    .container {
      width: 750px; } }
  @media (min-width: 3px) {
    .container {
      width: 970px; } }
  @media (min-width: 4px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 2px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 3px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 4px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@font-face {
  font-family: 'CircularBook';
  src: url("../fonts/circular/lineto-circular-book.eot") format("eot"), url("../fonts/circular/lineto-circular-book.woff") format("woff"), url("../fonts/circular/lineto-circular-book.ttf") format("truetype"); }

@font-face {
  font-family: 'CircularMedium';
  src: url("../fonts/circular/lineto-circular-medium.eot") format("eot"), url("../fonts/circular/lineto-circular-medium.woff") format("woff"), url("../fonts/circular/lineto-circular-medium.ttf") format("truetype"); }

@font-face {
  font-family: 'CircularBold';
  src: url("../fonts/circular/lineto-circular-bold.eot") format("eot"), url("../fonts/circular/lineto-circular-bold.woff") format("woff"), url("../fonts/circular/lineto-circular-bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CircularBlack';
  src: url("../fonts/circular/lineto-circular-black.eot") format("eot"), url("../fonts/circular/lineto-circular-black.woff") format("woff"), url("../fonts/circular/lineto-circular-black.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

body {
  font-family: "CircularBook", Arial, sans-serif;
  font-size: 14px;
  margin-top: 110px;
  text-align: left;
  color: #4c4c4c;
  background-color: #F1F1F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "CircularMedium", Arial, sans-serif;
  font-size: 24px;
  margin: 0 0 15px 0;
  color: #4c4c4c; }

h2 {
  font-family: "CircularBook", Arial, sans-serif;
  font-size: 20px;
  color: #4c4c4c;
  margin-bottom: 10px; }

h3 {
  font-family: "CircularMedium", Arial, sans-serif;
  font-size: 16px;
  color: #707070; }

h4 {
  font-family: "CircularMedium", Arial, sans-serif;
  font-size: 18px;
  color: #8e9ba5; }

h5 {
  font-family: "CircularMedium", Arial, sans-serif;
  font-size: 16px;
  color: #707070; }

h6 {
  font-family: "CircularBold", Arial, sans-serif;
  font-size: 14px;
  color: #8e9ba5;
  text-transform: uppercase; }

p {
  font-family: "CircularBook", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #707070;
  margin-bottom: 10px; }
  p.light {
    color: #8e9ba5; }

a {
  color: #2e96b2;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s; }
  a:hover {
    color: #29859e; }
  a:active {
    color: #247489; }
  a.danger {
    color: #ff6f6f; }
    a.danger:hover {
      color: #ff5656; }
    a.danger:active {
      color: #ff3c3c; }

hr {
  border: 0;
  margin: 25px 0;
  background-color: #EBEBEB;
  height: 1px; }
  hr.blank {
    background-color: transparent; }

.margin-top-5 {
  margin-top: 5px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-top-60 {
  margin-top: 60px; }

.margin-top-70 {
  margin-top: 70px; }

.no-padding {
  padding: 0; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix {
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.vertical-align-top {
  vertical-align: top; }

.vertical-align-middle {
  vertical-align: middle; }

.vertical-align-bottom {
  vertical-align: bottom; }

.full-width {
  width: 100%; }

.btn {
  display: inline-block;
  border-radius: 2px;
  background-color: transparent;
  border: 0;
  color: #86a1b2;
  font-family: "CircularBlack", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  height: 40px;
  line-height: 38px;
  padding: 0 25px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s; }
  .btn:hover {
    background-color: #fafafa; }
  .btn:active {
    outline: 0;
    color: #9fb4c2; }
  .btn:focus {
    outline: 0;
    color: #9fb4c2; }
  .btn:disabled, .btn.disabled, .btn.disabled:hover, .btn.disabled:active, .btn.disabled:focus {
    opacity: 0.5;
    cursor: default; }

.btn-primary {
  background-image: linear-gradient(-180deg, #21BBE5 0%, #30B5D9 100%);
  border: 1px solid #2E96B2;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  color: #ffffff; }
  .btn-primary:hover {
    background-image: linear-gradient(-180deg, #23B9E1 0%, #2DAED1 100%);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2); }
  .btn-primary:active, .btn-primary:focus {
    background-image: linear-gradient(-180deg, #23B9E1 0%, #2DAED1 100%);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #ffffff; }

.btn-secondary {
  background-image: linear-gradient(-180deg, #2E96B2 0%, #329AB6 100%);
  border: 1px solid #588490;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12); }

.btn-danger {
  background: #ff6f6f;
  border: 1px solid #ff4b4b; }
  .btn-danger:hover {
    background: #ff6060; }
  .btn-danger:active {
    background: #ff5050; }

label {
  display: block;
  color: #707070;
  padding: 5px 0; }

input {
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s; }
  input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="search"] {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    padding: 5px 8px;
    height: 35px;
    width: 100%;
    margin-bottom: 10px; }
    input[type="text"]:active, input[type="text"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="number"]:active, input[type="number"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="url"]:active, input[type="url"]:focus, input[type="tel"]:active, input[type="tel"]:focus, input[type="search"]:active, input[type="search"]:focus {
      outline: none;
      border: 1px solid #21bbe5; }

textarea {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  padding: 8px 8px;
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s; }
  textarea:active, textarea:focus {
    outline: none;
    border: 1px solid #21bbe5; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #DBDBDB;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  height: 45px;
  line-height: 43px;
  cursor: pointer;
  padding: 0 25px 0 15px;
  font-family: "CircularMedium", Arial, sans-serif;
  color: #707070;
  background-color: #FFFFFF;
  background-image: url("/assets/img/dropdown-indicator@2x.png");
  background-size: 18px 3px;
  background-position: center right;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; }
  select .avatar {
    vertical-align: middle;
    margin-right: 5px; }
  select:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.18);
    background-color: #FBFBFB; }
  select:active, select:focus {
    outline: 0; }
  select option {
    padding: 0 15px; }

input[type="search"] {
  background-image: url("/assets/img/search@2x.png");
  background-size: 23px 14px;
  background-position: center left;
  background-repeat: no-repeat;
  padding: 0 0 0 30px;
  height: 35px; }
  input[type="search"]:focus {
    background-image: url("/assets/img/searchFocus@2x.png"); }

input[type="text"].ng-dirty.ng-invalid,
input[type="password"].ng-dirty.ng-invalid,
input[type="number"].ng-dirty.ng-invalid,
input[type="email"].ng-dirty.ng-invalid,
input[type="url"].ng-dirty.ng-invalid,
input[type="tel"].ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  border: 1px solid #ff6f6f; }

input[type="text"].ng-dirty.ng-valid,
input[type="password"].ng-dirty.ng-valid,
input[type="number"].ng-dirty.ng-valid,
input[type="email"].ng-dirty.ng-valid,
input[type="url"].ng-dirty.ng-valid,
input[type="tel"].ng-dirty.ng-valid,
textarea.ng-dirty.ng-valid,
select.ng-dirty.ng-valid {
  border: 1px solid #5cb579; }

.modal-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto; }

.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 3px;
  margin-bottom: 60px;
  margin-top: 100px; }
  .modal p {
    color: #8e9ba5;
    margin-top: 5px; }
    .modal p:last-child {
      margin-bottom: 0; }
  .modal .passengers {
    font-family: "CircularMedium", Arial, sans-serif;
    font-size: 27px; }
    .modal .passengers .total-passengers {
      color: #b6b6b6; }
  .modal .clusters {
    margin-top: 15px; }
    .modal .clusters .cluster-selection {
      width: 160px;
      margin: 5px auto 0 auto; }
      .modal .clusters .cluster-selection .cluster {
        cursor: pointer;
        display: inline-block;
        background-color: #8e9ba5;
        color: #fff;
        width: 32px;
        height: 23px;
        line-height: 20px;
        font-family: "CircularBold", Arial, sans-serif;
        font-size: 15px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #fff; }
        .modal .clusters .cluster-selection .cluster.claimed {
          background-color: #2e96b2; }
        .modal .clusters .cluster-selection .cluster.claiming {
          background-color: #21bbe5; }
        .modal .clusters .cluster-selection .cluster.claimSubmitted {
          background-color: #5cb579;
          cursor: default; }
  .modal .price {
    font-family: "CircularMedium", Arial, sans-serif;
    display: block;
    text-align: center;
    font-size: 27px;
    color: #5cb579;
    margin-top: 18px;
    margin-bottom: 3px; }
  .modal .calculation {
    font-family: "CircularMedium", Arial, sans-serif;
    display: block;
    text-align: center;
    color: #C0C0C0; }
  .modal select {
    margin-top: 30px;
    max-width: 160px; }
  .modal .close {
    cursor: pointer; }
  .modal .geo-meta .light {
    display: block;
    margin-top: 15px;
    margin-bottom: 4px; }
  .modal .geo-meta img {
    vertical-align: middle;
    margin-right: 4px; }
  .modal .geo-meta .value {
    vertical-align: top;
    line-height: 20px;
    font-size: 15px; }

ul.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  ul.dropdown li {
    text-align: left;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -ms-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s; }
    ul.dropdown li a {
      display: block;
      width: 100%;
      padding: 15px 20px; }
      ul.dropdown li a:hover {
        background-color: #f9f9f9; }
    ul.dropdown li:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
    ul.dropdown li:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }

img.avatar {
  border-radius: 50%; }

img.soft-borders {
  border-radius: 3px; }

.small-uppercase-title {
  font-family: "CircularBold", Arial, sans-serif;
  font-size: 12px;
  color: #b6b6b6;
  text-transform: uppercase; }

.light {
  color: #8e9ba5; }

.alert {
  border-radius: 3px;
  font-family: "CircularBook", Arial, sans-serif;
  line-height: 20px;
  padding: 12px 15px;
  margin: 5px 0; }
  .alert.alert-danger {
    color: #ff6f6f;
    border: 1px solid #ffa2a2;
    background-color: #ffefef; }
  .alert.alert-warning {
    color: #9C7E5E;
    border: 1px solid #ccbb80;
    background-color: #fff5d1; }
  .alert.alert-info {
    color: #24697C;
    border: 1px solid #2e96b2;
    background-color: #BEE6F0; }
  .alert.alert-success {
    color: #3C8C56;
    border: 1px solid #5cb579;
    background-color: #D8F7E2; }

table {
  margin-top: 10px;
  width: 100%; }
  table th {
    color: #86a1b2;
    padding-right: 25px; }
    table th img {
      vertical-align: middle; }
  table td {
    color: #4c4c4c; }
  table .price {
    color: #5cb579; }
  table.th-vertical th, table.th-vertical td {
    padding: 15px 0;
    border-bottom: 1px solid #EFEFEF; }
  table.th-vertical th {
    color: #707070;
    padding-right: 15px; }
  table.th-vertical td {
    color: #8e9ba5; }
  table.th-vertical tr:last-child th, table.th-vertical tr:last-child td {
    border: 0; }

.drivers-table {
  border-collapse: separate;
  border-spacing: 0 15px; }
  .drivers-table th {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
  .drivers-table td {
    background-color: #fff;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 15px 25px 15px 0; }
    .drivers-table td .avatar {
      margin-right: 15px; }
    .drivers-table td input {
      width: auto;
      margin-bottom: 0; }
    .drivers-table td * {
      vertical-align: middle; }
    .drivers-table td:first-child {
      border-left: 1px solid #E6E6E6;
      padding-left: 15px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .drivers-table td:last-child {
      border-right: 1px solid #E6E6E6;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

.income-table {
  border-collapse: separate;
  border-spacing: 0 15px; }
  .income-table th {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
  .income-table td {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 15px 25px 15px 0; }
    .income-table td:first-child {
      border-left: 1px solid #E6E6E6;
      padding-left: 15px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .income-table td:last-child {
      border-right: 1px solid #E6E6E6;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .income-table .date {
    width: 121px; }
  .income-table .price {
    width: 115px; }
  .income-table .distance {
    width: 90px; }

.events-table {
  border-collapse: separate;
  border-spacing: 0 15px; }
  .events-table th {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
  .events-table td {
    background-color: #fff;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 22px 25px 22px 0;
    font-size: 16px;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -ms-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s; }
    .events-table td:first-child {
      border-left: 1px solid #E6E6E6;
      padding-left: 20px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .events-table td:last-child {
      border-right: 1px solid #E6E6E6;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .events-table tr.event {
    cursor: pointer; }
    .events-table tr.event.claimed td:first-child {
      border-left: 2px solid #5cb579; }
    .events-table tr.event.history {
      opacity: 0.7; }
  .events-table tr:hover td {
    border-color: #21bbe5; }

.pagination {
  display: table;
  text-transform: uppercase;
  font-family: "CircularBold", Arial, sans-serif;
  font-size: 12px;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }
  .pagination ul {
    display: table-row; }
    .pagination ul li {
      display: table-cell;
      height: 18px;
      line-height: 18px;
      background-color: transparent;
      border-radius: 50%; }
      .pagination ul li.page-number {
        width: 18px; }
        .pagination ul li.page-number.active {
          background-color: #21bbe5;
          border-radius: 50%; }
          .pagination ul li.page-number.active a {
            color: #fff; }

.loading {
  width: 100%; }

.preloader-wrapper {
  width: 50px;
  height: 50px;
  margin: 80px auto; }

.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0;
  border-radius: 100%;
  border: 4px solid;
  border-top-color: #21bbe5;
  border-bottom-color: #CBDADE;
  border-left-color: #21bbe5;
  border-right-color: #CBDADE;
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite; }

@keyframes preloader {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

header {
  height: 60px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0; }
  header nav ul.main-menu {
    padding-left: 0; }
    header nav ul.main-menu li {
      list-style: none;
      display: inline-block;
      height: 60px;
      margin-right: 20px;
      border-bottom: 0 solid transparent;
      -webkit-transition: all ease-in-out 0.1s;
      -moz-transition: all ease-in-out 0.1s;
      -ms-transition: all ease-in-out 0.1s;
      -o-transition: all ease-in-out 0.1s;
      transition: all ease-in-out 0.1s; }
      header nav ul.main-menu li a {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        color: #4c4c4c;
        font-family: "CircularMedium", Arial, sans-serif; }
        header nav ul.main-menu li a:hover {
          color: #29859e; }
        header nav ul.main-menu li a:active {
          color: #247489; }
      header nav ul.main-menu li.active {
        border-bottom: 3px solid #21bbe5; }
      header nav ul.main-menu li:last-child {
        margin-right: 0; }
  header .user-dropdown {
    position: relative;
    text-align: right;
    padding: 0 15px;
    display: inline-block;
    cursor: pointer;
    float: right;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
    header .user-dropdown .username {
      line-height: 60px;
      font-family: "CircularMedium", Arial, sans-serif; }
    header .user-dropdown:hover {
      background-color: #f9f9f9; }
    header .user-dropdown .dropdown-indicator {
      vertical-align: middle;
      margin-left: 5px; }

.dashboard > .row {
  margin-bottom: 30px; }

.widget {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  padding: 30px; }

.income-widget {
  height: 408px; }
  .income-widget .table-wrapper {
    min-height: 288px; }
  .income-widget .total-income, .income-widget .total-distance {
    margin-top: 50px;
    text-align: center; }
    .income-widget .total-income .price, .income-widget .total-distance .price {
      font-family: "CircularMedium", Arial, sans-serif;
      font-size: 24px;
      color: #5cb579; }
    .income-widget .total-income .distance, .income-widget .total-distance .distance {
      font-family: "CircularMedium", Arial, sans-serif;
      font-size: 24px;
      color: #4c4c4c; }

.account-widget {
  height: 408px; }

.user-satisfaction-widget {
  height: 434px; }
  .user-satisfaction-widget .graph {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 15px auto; }
    .user-satisfaction-widget .graph .amount {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-family: "CircularBold", Arial, sans-serif;
      font-size: 34px;
      line-height: 150px; }

.feedback-widget {
  height: 434px; }

.hidden {
  display: none; }

.disabled {
  opacity: 0.5;
  cursor: default; }

.invisible {
  opacity: 0; }

.inline-block {
  display: inline-block; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
