<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Chauffeurs</h1>
        </div>
    </div>

    <div class="row" ng-init="editMode = false">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <p>Chauffeurs hebben een account nodig om in te loggen in <a href="#">de app</a> zodat zij de
                        tickets kunnen
                        scannen. Reizigers krijgen de profielfoto en naam van de buschauffeur te zien.</p>
                </div>
                <div class="col-md-push-1 col-md-3">
                    <input class="right" type="search" ng-model="search" placeholder="Zoeken">
                </div>
            </div>

            <div class="loading" ng-hide="!loading">
                <div class="preloader-wrapper">
                    <div class="preloader"></div>
                </div>
            </div>

            <table class="drivers-table" ng-if="!loading">
                <tr class="unselectable">
                    <th ng-click="order('first_name')">
                        Voornaam
                        <img ng-class="{invisible: predicate != 'first_name'}"
                             ng-src="/assets/img/sort-indicator-{{sortOrder}}.png"
                             ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
                    </th>
                    <th ng-click="order('last_name')">
                        Achternaam
                        <img ng-class="{invisible: predicate != 'last_name'}"
                             ng-src="/assets/img/sort-indicator-{{sortOrder}}.png"
                             ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
                    </th>
                    <th ng-click="order('email')">
                        E-mail
                        <img ng-class="{invisible: predicate != 'email'}"
                             ng-src="/assets/img/sort-indicator-{{sortOrder}}.png"
                             ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
                    </th>
                    <th ng-if="editMode">
                        Acties
                    </th>
                </tr>
                <tr class="event" ng-repeat="driver in drivers | orderBy:predicate:reverse | filter:search">
                    <td>
                        <img ng-src="{{driver.avatar}}" ng-srcset="{{driver.avatar}} 1x, {{driver.avatar_2x}} 2x"
                             class="avatar">
                        <span ng-hide="editMode">{{driver.first_name}}</span>
                        <input type="text" ng-value="driver.first_name" ng-show="editMode">
                    </td>
                    <td>
                        <span ng-hide="editMode">{{driver.last_name}}</span>
                        <input type="text" ng-value="driver.last_name" ng-show="editMode">
                    </td>
                    <td>
                        <span ng-hide="editMode">{{driver.email}}</span>
                        <input type="email" ng-value="driver.email" ng-show="editMode">
                    </td>
                    <td ng-if="editMode">
                        <a href="" class="danger" ng-click="removeDriver(driver.id)">Verwijderen</a>
                    </td>
                </tr>
            </table>

            <div class="align-right" ng-hide="editMode">
                <button ng-click="editMode = !editMode" class="btn">Chauffeurs bewerken</button>
            </div>

            <div class="align-right" ng-show="editMode">
                <button ng-click="editMode = !editMode" class="btn">Annuleren</button>
                <button ng-click="editMode = !editMode" class="btn btn-primary">Opslaan</button>
            </div>

        </div>
        <div class="col-md-4">
            <div class="widget">
                <h2>Nieuwe chauffeur toevoegen</h2>

                <p class="light">De chauffeur ontvangt een e-mail waarmee een wachtwoord aangemaakt kan worden. Tevens bevat de
                    email een link naar de app. </p>

                <form name="new_driver" ng-submit="addNewDriver()">
                    <label for="first_name">Voornaam</label>
                    <input id="first_name" type="text" name="first_name" ng-model="first_name" required>

                    <label for="last_name">Achternaam</label>
                    <input type="text" id="last_name" name="last_name" ng-model="last_name" required>

                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" ng-model="email" required>

                    <input type="submit" class="btn btn-primary full-width" value="Account aanmaken">
                </form>

            </div>
        </div>
    </div>

</div>