<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Ongeclaimde reizen</h1>

            <div class="row">
                <div class="col-md-5">
                    <p>Alle onderstaande passagiers zijn nog niet geclaimd. Wanneer u op een reis klikt kunt u aangeven hoe veel passagiers u wilt vervoeren.</p>
                </div>
                <div class="col-md-push-3 col-md-4">
                    <!--TODO edit search funtionality so it only checks departure, destination and name-->
                    <input class="right" type="search" ng-model="search" placeholder="Bestemming, vertrekpunt of evenement">
                </div>
            </div>
        </div>
    </div>

    <div class="loading" ng-hide="!loading">
        <div class="preloader-wrapper">
            <div class="preloader"></div>
        </div>
    </div>

    <table class="events-table unclaimed" ng-if="!loading">
        <tr class="unselectable">
            <th ng-click="order('passengers')">
                Passagiers
                <img ng-class="{invisible: predicate != 'passengers'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('distance')">
                Rijafstand
                <img ng-class="{invisible: predicate != 'distance'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('price')">
                Bedrag
                <img ng-class="{invisible: predicate != 'price'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('start_time')">
                Start
                <img ng-class="{invisible: predicate != 'start_time'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('end_time')">
                Eind
                <img ng-class="{invisible: predicate != 'end_time'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('departure_city')">
                Vertrekpunt
                <img ng-class="{invisible: predicate != 'departure_city'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('destination_city')">
                Bestemming
                <img ng-class="{invisible: predicate != 'destination_city'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('name')">
                Evenement
                <img ng-class="{invisible: predicate != 'name'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
        </tr>
        <tr class="event" ng-repeat="event in events | orderBy:predicate:reverse | filter:search" ng-click="toggleEvent(event)" ng-if="event.passengers >= 10">
            <td>{{event.passengers}}</td>
            <td>{{event.distance | distance}}</td>
            <td class="price">{{event.passengers * event.unitPrice * event.distance | currency}}</td>
            <td>{{event.start_time*1000 | date:'dd-MM-yyyy - HH:mm'}}</td>
            <td>{{event.end_time*1000 | date:'dd-MM-yyyy - HH:mm'}}</td>
            <td>{{event.departure_city}}</td>
            <td>{{event.destination_city}}</td>
            <td>{{event.name}}</td>
        </tr>

        <tr ng-if="checkPassengers(events)">
            <th colspan="8">
                <h3 class="margin-top-10">Reizen met minder als 10 ingeschreven passagiers</h3>
            </th>
        </tr>

        <tr class="event" ng-repeat="event in events | orderBy:predicate:reverse | filter:search" ng-click="toggleEvent(event)" ng-if="event.passengers < 10 && event.passengers > 0 ">
            <td>{{event.passengers}}</td>
            <td>{{event.distance | distance}}</td>
            <td class="price">{{event.passengers * event.unitPrice * event.distance | currency}}</td>
            <td>{{event.start_time*1000 | date:'dd-MM-yyyy - HH:mm'}}</td>
            <td>{{event.end_time*1000 | date:'dd-MM-yyyy - HH:mm'}}</td>
            <td>{{event.departure_city}}</td>
            <td>{{event.destination_city}}</td>
            <td>{{event.name}}</td>
        </tr>

    </table>

    <event-modal event="selectedEvent"></event-modal>
</div>