<div class="widget account-widget">

    <div class="row">
        <div class="col-md-12">
            <h2>Mijn account</h2>

            <table class="th-vertical">
                <tr>
                    <th>Contactpersoon</th>
                    <td>{{account.contact}}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{account.email}}</td>
                </tr>
                <tr>
                    <th>Telefoonnummer</th>
                    <td>{{account.phone}}</td>
                </tr>
                <tr>
                    <th>IBAN</th>
                    <td>{{account.iban}}</td>
                </tr>
                <tr>
                    <th>KvK nr.</th>
                    <td>{{account.chamberOfCommerce}}</td>
                </tr>
                <tr>
                    <th>SKTB nr.</th>
                    <td>{{account.brancheOrganization}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-12 align-center margin-top-30">
            <a ui-sref="settings">Bewerken</a>
        </div>
    </div>

</div>
