<div class="widget user-satisfaction-widget">
    <h2>Klantvriendelijkheid score</h2>
    <p class="light">StapOp vindt klantvriendelijkheid belangrijk, net zoals u dat waarschijnlijk vindt. Daarom vragen wij passagiers altijd om feedback nadat hun reis heeft plaatsgevonden. Hieronder staan uw resultaten.</p>

    <div class="row margin-top-50">
        <div class="col-md-4 align-center" ng-repeat="graph in data">
            <h4>{{graph.subject}}</h4>

            <div class="graph">
                <canvas id="graph.subject" chart-data="graph.score" chart-labels="graph.label" chart-options="chartOptions" chart-colours="chartColors" class="chart chart-doughnut"></canvas>
                <span class="amount">{{graph.score[0] | number}}</span>
            </div>
        </div>
    </div>
</div>