<div class="container dashboard">

    <h1>Dashboard</h1>

    <div class="row">
        <div class="col-md-8">
            <income-widget></income-widget>
        </div>
        <div class="col-md-4">
            <account-widget></account-widget>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <costumer-satisfaction-widget></costumer-satisfaction-widget>
        </div>
        <div class="col-md-4">
            <feedback-widget></feedback-widget>
        </div>
    </div>

</div>