<div class="widget feedback-widget">
    <h2>Feedback</h2>
    <p class="light">Om onze service zo goed mogelijk aan te laten sluiten bij uw wensen hebben we uw feedback nodig.</p>

    <form name="feedbackForm">
        <label for="subject">Onderwerp</label>
        <input id="subject" type="text" placeholder="Bijv: prijsbepaling" ng-model="feedback.subject" required>

        <label for="comments">Wat kunnen wij verbeteren?</label>
        <textarea id="comments" cols="30" rows="8" ng-model="feedback.comments" required></textarea>

        <input type="submit" class="btn btn-primary full-width" value="Feedback verzenden">
    </form>
</div>
