<div class="widget income-widget">
    <h2>Inkomsten</h2>

    <div class="row">
        <div class="col-md-8">
            <div class="table-wrapper">
                <table class="income-table">
                    <tr>
                        <th ng-click="order('date')">
                            Datum reis
                            <img ng-class="{invisible: predicate != 'date'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
                        </th>
                        <th ng-click="order('price')">
                            Bedrag
                            <img ng-class="{invisible: predicate != 'price'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
                        </th>
                        <th ng-click="order('distance')">
                            Afstand
                            <img ng-class="{invisible: predicate != 'distance'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
                        </th>
                        <th ng-click="order('passengers')">
                            Passagiers
                            <img ng-class="{invisible: predicate != 'passengers'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
                        </th>
                    </tr>
                    <tr dir-paginate="event in events |  orderBy:predicate:reverse | itemsPerPage:4">
                        <td class="date">{{event.date*1000 | date:'dd-MM-yyyy'}}</td>
                        <td class="price">{{event.price | currency }}</td>
                        <td class="distance">{{event.distance | distance}}</td>
                        <td class="passengers">{{event.passengers}} passagiers</td>
                    </tr>
                </table>
            </div>

            <dir-pagination-controls template-url="/templates/dashboard/income-pagination.html"></dir-pagination-controls>
        </div>

        <div class="col-md-4">
            <div class="total-income">
                <h6>Totaal ontvangen</h6>
                <span class="price">{{totalIncome | currency}}</span>
            </div>

            <div class="total-distance">
                <h6>Totale afstand</h6>
                <span class="distance">{{totalDistance | distance}}</span>
            </div>
        </div>

    </div>
</div>