.dashboard {
	& > .row {
		margin-bottom: 30px;
	}
}

.widget {
	background: #FFFFFF;
	border: 1px solid $main-border;
	border-radius: 3px;

	padding: 30px;
}

.income-widget {
	height: 408px;

	.table-wrapper {
		min-height: 288px;
	}

	.total-income, .total-distance {
		margin-top: 50px;
		text-align: center;

		.price {
			font-family: $circularMedium;
			font-size: 24px;
			color: $green;
		}

		.distance {
			font-family: $circularMedium;
			font-size: 24px;
			color: $dark-gray;
		}
	}
}

.account-widget {
	height: 408px;
}

.user-satisfaction-widget {
	height: 434px;

	.graph {
		position: relative;
		width: 130px;
		height: 130px;
		margin: 15px auto;

		.amount {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			font-family: $circularBold;
			font-size: 34px;
			line-height: 150px;
		}
	}
}

.feedback-widget {
	height: 434px;
}