<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Mijn reizen</h1>

            <div class="row">
                <div class="col-md-5">
                    <p>Hier worden alle reizen weergegeven die geclaimt zijn door u. U kunt reizen niet meer annuleren.</p>
                </div>
                <div class="col-md-push-3 col-md-4">
                    <!--TODO edit search funtionality so it only checks departure, destination and name-->
                    <input class="right" type="search" ng-model="search" placeholder="Bestemming, vertrekpunt of evenement">
                </div>
            </div>
        </div>
    </div>

    <div class="loading" ng-hide="!myEventsLoading">
        <div class="preloader-wrapper">
            <div class="preloader"></div>
        </div>
    </div>

    <table class="events-table unclaimed" ng-if="!myEventsLoading">
        <tr class="unselectable">
            <th ng-click="order('passengers')">
                Passagiers
                <img ng-class="{invisible: predicate != 'passengers'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('distance')">
                Rijafstand
                <img ng-class="{invisible: predicate != 'distance'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('price')">
                Bedrag
                <img ng-class="{invisible: predicate != 'price'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('start_time')">
                Start
                <img ng-class="{invisible: predicate != 'start_time'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('end_time')">
                Eind
                <img ng-class="{invisible: predicate != 'end_time'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('departure_city')">
                Vertrekpunt
                <img ng-class="{invisible: predicate != 'departure_city'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('destination_city')">
                Bestemming
                <img ng-class="{invisible: predicate != 'destination_city'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
            <th ng-click="order('name')">
                Evenement
                <img ng-class="{invisible: predicate != 'name'}" ng-src="/assets/img/sort-indicator-{{sortOrder}}.png" ng-srcset="/assets/img/sort-indicator-{{sortOrder}}.png 1x, /assets/img/sort-indicator-{{sortOrder}}@2x.png 2x">
            </th>
        </tr>

        <tr class="event claimed" ng-repeat="event in events | orderBy:predicate:reverse | filter:search" ng-click="toggleEvent(event)">
            <td>{{event.claimedPassengers}} <span class="light">/ {{event.passengers}}</span></td>
            <td>{{event.distance | distance}}</td>
            <td class="price">{{event.passengers * event.unitPrice * event.distance | currency}}</td>
            <td>{{event.start_time*1000 | date:'dd-MM-yyyy - HH:mm'}}</td>
            <td>{{event.end_time*1000 | date:'dd-MM-yyyy - HH:mm'}}</td>
            <td>{{event.departure_city}}</td>
            <td>{{event.destination_city}}</td>
            <td>{{event.name}}</td>
        </tr>

    </table>

    <event-modal event="selectedEvent"></event-modal>
</div>